@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

body {
  font-family: "Cabin", Arial, sans-serif;
  color: #ffffff;
  background-color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lobster", cursive;
}

.navbar {
  background-color: #333333;
  border-color: #111111;
}

.navbar-brand {
  font-family: "Lobster", cursive;
  color: #ffffff;
}

.banner {
  margin-top: 4em;
  border-bottom: 1px solid #666666;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

h1 small {
  color: #aaa;
}

.card {
  background-color: #424242;
}

.card-primary {
  border-color: #666666;
  margin-bottom: 1rem;
}

.review-header {
  background-color: #2e2e2e;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

.review {
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 1em;
}

.badge-default,
.btn-primary {
  background-color: #555555;
  border-color: #333333;
}

h4 a,
h4 a:hover {
  color: #fff;
}

h4 small {
  font-size: 60%;
  line-height: 200%;
  color: #aaa;
}

.address {
  margin-bottom: 0.5rem;
}

.facilities span.badge {
  margin-right: 2px;
}

legend {
  font-family: "Lobster", cursive;
}

.navbar-nav .nav-item {
  margin-left: 15px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.1rem;
}
